/* BOX-SIZING */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


/*GENERAL*/

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    margin: 3rem 0;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

article {
    width: 90vw;
}

h2 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(56, 1, 52);
}

img {
    height: auto;
}


/*NAVBAR*/

header {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 5rem;
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.856);
}

nav {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav figure {
    display: flex;
    align-items: center;
    width: 20%;
    margin: 0;
}

nav figure img {
    width: 5rem;
}

#desktop-menu {
    display: none;
}

#mobile-menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 1rem;
}

#menu,
#desktop-menu a {
    color: rgb(56, 1, 52);
}

#mobile-menu-list {
    position: absolute;
    padding: 5rem;
    align-items: center;
    justify-content: center;
    z-index: 2;
    right: 0;
    top: -5vh;
    width: 100vw;
    height: 105vh;
    background-color: #584ca0;
}

.hide {
    transform: translateX(100%);
    transition: all 0.5s;
}

.show {
    transform: translateX(0);
    transition: all 0.5s;
}

#mobile-menu-list ul {
    width: 90vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#mobile-menu-list ul li {
    width: 100%;
}

#mobile-menu-list a {
    font-weight: 600;
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.36);
}

#close-li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#close i {
    color: #422a83;
    border: 4px solid #422a83;
    font-size: 1.5rem;
    padding: 0.7rem;
    border-radius: 50%;
    text-shadow: none;
}

.menu-element {
    padding: 2rem;
}


/*HERO*/

#hero {
    background-image: url('./img/hero.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    align-items: center;
    margin-top: 0;
}

#hero article {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(56, 1, 52);
    margin: 0.5rem;
}

#hero p {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(0, 0, 0);
}


/*ABOUT ME*/

#about-me-container {
    width: 90vw;
    margin: 0 auto;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bio-container {
    display: flex;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+2,1d70b7+40,aa0cc6+100 */
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient( -45deg, rgba(255, 255, 255, 1) 2%, rgba(29, 112, 183, 1) 40%, rgba(170, 12, 198, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient( -45deg, rgba(255, 255, 255, 1) 2%, rgba(29, 112, 183, 1) 40%, rgba(170, 12, 198, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient( 135deg, rgba(255, 255, 255, 1) 2%, rgba(29, 112, 183, 1) 40%, rgba(170, 12, 198, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#aa0cc6', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    width: 90%;
    height: 90%;
    min-height: 200px;
    flex-direction: column;
}

#bio,
.contact {
    display: flex;
    /* background-color: purple; */
    flex-direction: column;
    margin-bottom: 1rem;
}

#bio div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-color: white;
    margin-right: 1rem;
}

#bio p {
    width: 80%;
    font-size: 1rem;
    line-height: 1.5rem;
}

#bio figure {
    display: flex;
    justify-content: center;
}

#bio img {
    width: 100%;
    height: 100%;
}


/*CONTACT*/

.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 4rem;
    height: 4rem;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: 0.5rem 0.2rem;
    justify-content: center;
    position: relative;
    transition: all 0.5s;
}

.icon a {
    color: white;
    font-size: 1.5rem;
    transition: 0.5s;
}


/*Projects*/

#projects {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+6,f1f3f6+73 */
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient( top, rgba(255, 255, 255, 1) 6%, rgba(241, 243, 246, 1) 73%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient( top, rgba(255, 255, 255, 1) 6%, rgba(241, 243, 246, 1) 73%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient( to bottom, rgba(255, 255, 255, 1) 6%, rgba(241, 243, 246, 1) 73%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f3f6', GradientType=0);
    /* IE6-9 */
    margin-bottom: 0;
}

#projects article {
    justify-content: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+6,f1f3f6+73 */
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient( top, rgba(255, 255, 255, 1) 6%, rgba(241, 243, 246, 1) 73%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient( top, rgba(255, 255, 255, 1) 6%, rgba(241, 243, 246, 1) 73%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient( to bottom, rgba(255, 255, 255, 1) 6%, rgba(241, 243, 246, 1) 73%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f3f6', GradientType=0);
    /* IE6-9 */
}

#project-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}

.card figure {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card figure img {
    width: 100%;
}

.img-project {
    transition: all 0.5s;
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.5s;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1d70b7+19,aa0cc6+100 */
    background: rgb(29, 112, 183);
    /* Old browsers */
    background: -moz-linear-gradient( left, rgba(29, 112, 183, 0.9) 19%, rgba(170, 12, 198, 0.9) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient( left, rgba(29, 112, 183, 0.9) 19%, rgba(170, 12, 198, 0.9) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient( to right, rgba(29, 112, 183, 0.9) 19%, rgba(170, 12, 198, 0.9) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1d70b7', endColorstr='#aa0cc6', GradientType=1);
    /* IE6-9 */
    transform: translateY(-100%);
}

.caption p {
    font-size: 1rem;
}

.card:hover .caption {
    transform: translateY(0);
}

.card:hover .img-project {
    transform: translateY(100%);
}

.js {
    max-width: 1.5rem;
}

.icons {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-around;
}

.icons i {
    font-size: 1.5rem;
    color: white;
}

.caption-container {
    width: 90%;
    height: 90%;
}

.header-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    padding-left: 0.5rem;
    text-decoration: none;
    transition: all 0.5s;
}

.links a:hover {
    color: rgb(255, 255, 255);
    transition: all 0.5s;
}


/*SKILLS*/

#skills {
    margin: 0;
    text-align: center;
    background-color: #f1f3f6;
    padding-top: 3rem;
}

.skills-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
}

.skills-container .skill:nth-child(1) {
    background-image: url('./img/line.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.skill figure {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #f1f3f6;
    border: 2px solid #f1f3f6;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 30px 30px 80px -15px rgba(55, 84, 170, 0.5), -30px -30px 80px 0.5px rgba(255, 255, 255, 1), inset 10px 10px 20px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 30px 30px 80px -15px rgba(55, 84, 170, 0.5), -30px -30px 80px 0.5px rgba(255, 255, 255, 1), inset 10px 10px 20px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 30px 30px 80px -15px rgba(55, 84, 170, 0.5), -30px -30px 80px 0.5px rgba(255, 255, 255, 1), inset 10px 10px 20px 0px rgba(255, 255, 255, 0.5);
}

.skill figure img {
    width: 65%;
}

.skill ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}


/*Footer*/

footer {
    display: flex;
    justify-content: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1d70b7+19,aa0cc6+100 */
    background: rgb(88, 29, 183);
}

footer h2 {
    color: white;
    margin-bottom: 0;
}

footer .contact {
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    section {
        min-height: 300px;
    }
    /*NAVBAR*/
    nav {
        width: 1200px;
    }
    #mobile-menu {
        display: none;
    }
    #desktop-menu {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #desktop-menu li {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        width: 20%;
        padding: 1rem;
        transition: all 0.5s;
    }
    #desktop-menu li:hover {
        cursor: pointer;
    }
    #desktop-menu li:hover a {
        font-weight: 600;
        transform: scale(1.2);
        transition: all 0.5s;
    }
    /*HERO*/
    #hero {
        background-position: center;
    }
    /*ABOUT ME*/
    #about-me {
        justify-content: center;
    }
    #about-me-container {
        width: 70vw;
        flex-direction: row;
    }
    #bio-container {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #bio {
        flex-direction: row;
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    #bio,
    .contact {
        margin-bottom: 0;
    }
    .contact {
        width: 15%;
        min-width: 6rem;
    }
    #bio figure {
        width: 20%;
        height: 100%;
        margin: 0;
        position: relative;
    }
    #bio img {
        max-width: 70vw;
        width: auto;
        position: absolute;
        right: -2rem;
    }
    .contact ul {
        flex-direction: column;
    }
    .icon {
        width: 3rem;
        height: 3rem;
        z-index: 1;
    }
    /*Projects*/
    #projects article {
        justify-content: space-around;
    }
    #project-container {
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
    }
    .card {
        width: 30%;
    }
    /*SKILLS*/
    .skill {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
    }
    .skill li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        height: auto;
        text-align: center;
    }
    .skills-container .skill:nth-child(1) ul {
        margin-bottom: 5rem;
    }
    /*FOOTER*/
    footer .contact {
        width: 70vw;
        justify-content: center;
    }
    footer .contact ul {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem 0;
    }
    /*HOVER*/
    .icon::before {
        content: '';
        position: absolute;
        color: white;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1d70b7+19,aa0cc6+100 */
        background: rgb(29, 112, 183);
        /* Old browsers */
        background: -moz-linear-gradient( left, rgba(29, 112, 183, 0.5) 19%, rgba(170, 12, 198, 0.5) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient( left, rgba(29, 112, 183, 0.5) 19%, rgba(170, 12, 198, 0.5) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient( to right, rgba(29, 112, 183, 0.5) 19%, rgba(170, 12, 198, 0.5) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1d70b7', endColorstr='#aa0cc6', GradientType=1);
        /* IE6-9 */
        border-radius: 50%;
        transition: all 0.5s;
        opacity: 0;
        z-index: -1;
    }
    .icon:hover::before {
        opacity: 1;
        transform: scale(1.5);
    }
    .icon::after {
        content: '';
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1d70b7+19,aa0cc6+100 */
        background: rgb(29, 112, 183);
        /* Old browsers */
        background: -moz-linear-gradient( left, rgba(29, 112, 183, 1) 19%, rgba(170, 12, 198, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient( left, rgba(29, 112, 183, 1) 19%, rgba(170, 12, 198, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient( to right, rgba(29, 112, 183, 1) 19%, rgba(170, 12, 198, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1d70b7', endColorstr='#aa0cc6', GradientType=1);
        /* IE6-9 */
        border-radius: 50%;
        transition: all 0.5s;
        opacity: 0;
        z-index: -1;
        box-sizing: border-box;
    }
    .icon:hover::after {
        opacity: 1;
    }
    .icon:hover {
        cursor: pointer;
    }
    .icon:nth-child(3) {
        font-weight: 600;
        font-size: 1.3rem;
    }
}