/* BOX-SIZING */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* GLOBALES */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

section,
nav {
    margin: 0 auto;
    display: flex;
}

section {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.856);
}

main {
    width: 100vw;
    position: relative;
}

nav {
    flex-direction: row;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    background-color: transparent;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 90vw;
    height: 90%;
}

nav figure {
    display: flex;
    align-items: center;
    width: 20%;
}

nav figure img {
    width: 5rem;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(56, 1, 52);
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}

nav a {
    color: rgb(56, 1, 52);
}

#desktop-menu {
    display: none;
}

#desktop-menu a {
    text-decoration: none;
    transition: font-weight 0.2s;
}

#desktop-menu a:hover {
    font-weight: 600;
}

#hero {
    background-image: url('./img/hero.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#hero article {
    text-align: center;
}

#hero h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(56, 1, 52);
    margin: 0.5rem;
}

#hero p {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0.5rem;
    font-family: 'Roboto Condensed', sans-serif;
}

#mobile-menu {
    display: flex;
    position: relative;
}

#mobile-menu-list {
    flex-direction: column;
    display: none;
    position: fixed;
    width: 80vw;
    height: 100vh;
    top: 0;
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 66%, rgba(247, 210, 226, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 66%, rgba(247, 210, 226, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 66%, rgba(247, 210, 226, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7d2e2', GradientType=0);
    /* IE6-9 */
    -webkit-box-shadow: -4px 3px 5px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: -4px 3px 5px 0px rgba(0, 0, 0, 0.14);
    box-shadow: -4px 3px 5px 0px rgba(0, 0, 0, 0.14);
    transition: all 0.5s;
    transform: translateX(10%);
}

#menu:hover #mobile-menu-list {
    transform: translateX(-100%);
}

#gradient-border {
    width: 100%;
    height: 90vh;
    position: relative;
    top: 1%;
    background: rgba(224, 118, 118, 1);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 1%, rgba(224, 118, 118, 1) 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 1%, rgba(224, 118, 118, 1) 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 1%, rgba(224, 118, 118, 1) 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e07676', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#bio {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-around;
    background-color: #ffffff;
}

#bio div {
    display: flex;
    width: 40%;
}

#bio figure {
    position: relative;
    width: 50%;
    margin: 0;
}

#bio img {
    position: absolute;
    top: -20%;
    right: -5%;
}

#about-me-container-mobile {
    display: flex;
    width: 90vw;
    height: 90vh;
    margin: 0;
    background-color: blue;
}


/*CONTACT ICONS*/

.icon {
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}

.icon:hover {
    transform: scale(1.2);
    transition: all 0.5s;
    color: #f1f1f1;
}

.icon::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e02c2f+0,ea7e8e+100 */
    background: rgb(224, 44, 47);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(224, 44, 47, 1) 0%, rgba(234, 126, 142, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(224, 44, 47, 1) 0%, rgba(234, 126, 142, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(224, 44, 47, 1) 0%, rgba(234, 126, 142, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e02c2f', endColorstr='#ea7e8e', GradientType=0);
    /* IE6-9 */
    left: -110%;
    top: 90%;
    transform: rotate(45deg);
    z-index: -1;
    transition: all 0.5s;
}

.icon::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    left: -110%;
    top: 90%;
    transform: rotate(45deg);
    z-index: -1;
    transition: all 0.5s;
}

.icon:hover::before {
    animation: animation 0.7s 1;
    transition: all 0.5s;
}

@keyframes animation {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 15%;
        top: -30%;
    }
    100% {
        left: -10%;
        top: -10%;
    }
}


/*CARDS*/

#project-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}

.card figure {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-project {
    transition: all .5s;
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(41, 39, 41);
    transition: all 0.5s;
    background: rgba(224, 118, 118, 1);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 1%, rgba(224, 118, 118, 1) 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 1%, rgba(224, 118, 118, 1) 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 1%, rgba(224, 118, 118, 1) 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e07676', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    transform: translateY(-100%);
}

.caption p {
    font-size: 1rem;
}

.card:hover .caption {
    transform: translateY(0);
}

.card:hover .img-project {
    transform: translateY(100%);
}

.js {
    max-width: 1.5rem;
}

.icons {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-around;
}

.icons i {
    font-size: 1.5rem;
    color: rgb(224, 44, 47);
}

.caption-container {
    width: 90%;
    height: 90%;
}

.header-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a {
    color: rgba(224, 44, 47, 0.5);
    font-size: 1.5rem;
    padding-left: 0.5rem;
    text-decoration: none;
    transition: all 0.5s;
}

.links a:hover {
    color: rgb(224, 44, 47);
    transition: all 0.5s;
}


/*SKILLS*/

#skills {
    height: auto;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    background-color: rgb(29, 29, 104);
}

.skill {
    width: 90vw;
    background-color: rgb(133, 133, 34);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.skill ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: auto;
    text-align: center;
}

.skill figure {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: white;
    border: 2px solid rgb(224, 44, 47);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill figure img {
    width: 65%;
}


/*CONTACT*/

#bio-container {
    position: absolute;
    margin-left: 0;
    display: flex;
    height: 80vh;
    top: 5%;
    flex-direction: column;
}

#bio {
    width: 100%;
    height: 80%;
}

#bio div p {
    width: 100%;
}

#bio div ul {
    width: 50%;
    height: 4rem;
    padding: 0;
    justify-content: space-between;
}

#contact {
    display: flex;
    width: 100%;
    height: 20%;
}

#contact ul {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    max-height: 5rem;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contact li {
    min-width: 5rem;
    display: flex;
    font-size: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    border: 2px solid white;
    border-radius: 50%;
}

#contact a {
    color: white;
    text-decoration: none;
}

#contact li:nth-child(3) {
    font-size: 2.5rem;
    font-weight: 600;
}

#about-me-container {
    width: 90vw;
}

#about-me article {
    position: relative;
}

@media only screen and (min-width: 567px) {
    article {
        margin: 1rem 0;
    }
    #about-me-container {
        position: relative;
        margin: 0;
        height: 90%;
        justify-content: center;
        display: flex;
    }
}

@media only screen and (min-width:769px) {
    article {
        height: auto;
    }
    nav {
        width: 80vw;
    }
    #desktop-menu {
        display: flex;
        width: 60%;
    }
    #hero {
        background-position: center;
    }
    #mobile-menu {
        display: none;
    }
    #about-me {
        height: auto;
    }
    #about-me-container {
        min-height: 350px;
        width: 80%;
    }
    #gradient-border {
        position: absolute;
        width: 810px;
        min-width: 50vw;
        height: 310px;
        top: 12.5px;
        left: 15%;
    }
    .skill {
        width: 45%;
    }
    #projects {
        height: auto;
    }
    #project-container {
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: row;
    }
    #bio-container {
        margin-left: 0;
        flex-direction: row;
        left: 5%;
    }
    #bio {
        flex-direction: row;
        width: 800px;
        height: 300px;
    }
    #contact ul {
        flex-direction: column;
        margin: 1rem 0;
        max-height: 100%;
        align-items: space-around;
    }
    .card {
        width: 300px;
        height: 300px;
    }
    #contact {
        width: 5rem;
        height: 300px;
    }
    #contact li {
        min-width: 3rem;
        min-height: 3rem;
        font-size: 1.5rem;
    }
    #contact li:nth-child(3) {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1024px) {
    header,
    main,
    #hero,
    section {
        width: 105vw;
        overflow-y: hidden;
    }
    section {
        flex-wrap: wrap;
    }
    #about-me article {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    #bio-container {
        margin-left: -18%;
        max-width: 85vw;
    }
    #gradient-border {
        max-width: 90vw;
        width: 700px;
    }
    .links a {
        font-size: 2rem;
        margin-left: 1rem;
    }
    #projects {
        height: auto;
    }
    .skill {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    #bio {
        justify-content: flex-end;
    }
    #bio-container {
        margin-left: 0;
    }
    #bio figure {
        position: absolute;
        top: -4%;
        left: 35%;
    }
    #bio div {
        width: 100%;
    }
    #bio p {
        font-size: 1.5rem;
    }
    #about-me-container {
        margin: 2rem 0 0 0;
    }
}